# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Coverage reports
.coverage
htmlcov/

# Distribution / packaging
*.egg-info/
build/
dist/

# IntelliJ's project specific settings
.idea/

# tox automation project
.tox/

# macOS file that stores custom attributes of its containing folder
.DS_Store

# Static type checker cache
.mypy_cache/
